*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
}

html,
body {
  width: 100%; /* Old browsers */
  background: linear-gradient(135deg, #c6f2e1 0%, #80edc3 100%);
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading svg {
  animation: pokeball-spin 0.8s infinite;
}

/* types */

[class*='pill-'] {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  list-style: none;
  margin: 0 8px 8px 0;
  text-transform: capitalize;
}

.btn {
  display: inline-block;
  color: #0c0c0c;
  background-color: #bbbbbb;
  border-radius: 3px;
  margin-right: 10px;
  padding: 5px 8px;
  text-decoration: none;
}

.btn-right {
  float: right;
}

@keyframes pokeball-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
